@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", serif;
}

a {
  text-decoration: none;
}

nav {
  width: 100%;
  min-height: 50px; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1;
  background-color: #5E2D79;
  color: #FFFFFF;
  padding: 0.5rem 1rem; 
  box-sizing: border-box;
}

nav a .logo {
  max-width: 100px; 
  height: auto;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 0.8rem; 
}

nav ul li {
  font-weight: 700;
  display: flex;
  align-items: center;
}

nav ul li a {
  font-size: 1.2rem; 
  color: #FFFFFF;
  text-decoration: none;
}

nav ul .liColorida {
  background-color: #FF7F50;
  border-radius: 0.8rem; 
  padding: 0.3rem 0.6rem; 
}

section {
  width: 100%;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
  box-sizing: border-box;
}

section h1 {
  font-size: 3rem; 
  font-weight: 700;
  color: #1F2937;
  margin-bottom: 1rem;
  text-align: center;
}

section p {
  width: 90%;
  max-width: 800px;
  font-size: 1.6rem; 
  font-weight: 300;
  text-align: center;
  line-height: 1.5;
}

.cards {
  width: 100%;
  min-height: 400px; /* Altura mínima para garantir espaço */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(94, 45, 121, 0.7), rgba(94, 45, 121, 0.7)), url(../assets/mulher.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  padding: 2rem 1rem; 
}

.cards h2 {
  font-size: 3.5rem; 
  font-weight: 700;
  color: #FFFFFF;
  margin-bottom: 1.5rem;
}

.cards .card__container {
  width: 95%; 
  max-width: 1200px; 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start; 
  gap: 2rem; 
  margin-top: 2rem; /* Reduzido o margin top */
}

.cards .card__container .card {
  width: calc(50% - 1rem); 
  min-width: 300px; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start; 
  background-color: #FFFFFF;
  padding: 1.5rem; 
  border-radius: 1.5rem; 
  box-shadow: 0px 5px 5px 0px rgba(107, 69, 115, 0.1019607843); 
}

.cards .card__container .card .card__titulo {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 2rem; 
  font-weight: 600;
  color: #5E2D79;
  margin-bottom: 1rem;
}

.cards .card__container .card .card__titulo img {
  width: 2.8rem; 
  height: 2.8rem; 
}

.cards .card__container .card p {
  font-size: 1.6rem; 
  line-height: 1.5;
}

.cards .card__container .card .card__link {
  width: 100%; 
}

.cards .card__container .card .card__link a {
  font-size: 1.8rem; 
  font-weight: 600;
  color: #5E2D79;
  margin-top: 1rem; 
  display: block; 
}

.help {
  width: 100%;
  min-height: 400px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
}

.help h4 {
  font-size: 3rem; 
  font-weight: 600;
  color: #1F2937;
  margin-bottom: 1.5rem; 
}

.help .paragrafo__cima {
  width: 90%;
  max-width: 800px;
  font-size: 1.8rem; 
  font-weight: 400;
  text-align: center;
  margin-bottom: 2rem; 
}

.help .help__container {
  width: 95%; 
  max-width: 1200px; 
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-evenly;
  align-items: flex-start; 
  gap: 2rem;
}

.help .help__container .secao {
  width: calc(50% - 1rem); 
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start; 
  background-color: #FFFFFF;
  padding: 1.5rem; 
  border-radius: 1.5rem; 
  box-shadow: 0px 5px 5px 0px rgba(107, 69, 115, 0.1019607843);
}

.help .help__container .secao .secao__titulo {
  display: flex;
  align-items: center;
  gap: 1rem; 
  font-size: 2rem; 
  font-weight: 600;
  color: #5E2D79;
  margin-bottom: 1rem;
  width: max-content;
}

.help .help__container .secao .secao__titulo img {
  width: 2.8rem; 
  height: 2.8rem; 
}

.help .help__container .secao .paragrafo__baixo {
  font-size: 1.6rem; 
  line-height: 1.5;
}

.help .help__container .secao ul {
  font-size: 1.6rem; 
  padding-left: 1.5rem; 
  margin-top: 1rem;
}
 


footer {
  width: 100%;
  min-height: 150px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  background-color: #5E2D79;
  padding: 2rem 1rem; 
}

footer .footer__container {
  width: 90%; 
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-evenly;
  align-items: flex-start;
  margin-bottom: 2rem; 
  gap: 2rem; 
}

footer .footer__container div {
  width: calc(50% - 2rem); 
  min-width: 250px; 
  padding: 1rem;
}

footer .footer__container div h5 {
  font-size: 1.8rem; 
  font-weight: 700;
  margin-bottom: 1rem; 
}

footer .footer__container div ul {
  padding-left: 1.5rem;
  font-size: 1.4rem;
}

footer .footer__container div ul li span {
  font-weight: 600;
}

footer .footer__container div .alunos {
  display: flex;
  flex-wrap: wrap;
  gap: 5px; 
}

footer .footer__container div .alunos li {
  flex: 1 1 calc(33.33% - 5px);
  max-width: calc(33.33% - 5px);
  font-size: 1.3rem; 
}

/* Responsivos */

@media (max-width: 1024px) {
  nav {
      flex-direction: column;
      height: auto;
      padding: 0.8rem; 
  }
  nav ul {
      width: 100%;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
  }
  nav ul li {
      width: 100%;
      text-align: center;
  }
  section p {
      width: 80%;
      font-size: 1.4rem;
      margin-bottom: 2rem;
      line-height: 3;
  }
  .cards .card__container {
      flex-wrap: wrap;
      gap: 2rem;
      justify-content: center;
  }
  .icons {
      font-size: 1.4rem;
      gap: 2rem;
  }
  .help {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 1.5rem;
  }
}

@media (max-width: 768px) {
  nav {
      padding: 0.5rem;
  }
  nav a .logo {
      width: 4.5rem;
      height: auto;
  }
  section h1 {
      font-size: 2.5rem;
      text-align: center;
      margin-bottom: 1.5rem;
  }
  section p {
      font-size: 1.6rem;
      width: 90%;
      text-align: center;
      margin-bottom: 2.5rem;
      line-height: 3;
  }
  .cards .card__container {
      flex-direction: column;
      align-items: center;
      gap: 2rem;
  }
  .cards .card__container .card {
      width: 90%;
      padding: 2rem;
  }
  .help .help__container {
      flex-direction: column;
      align-items: center;
      gap: 2rem;
  }
  .help .help__container .secao {
      width: 90%;
      padding: 2rem;
  }
  .icons {
      font-size: 1.2rem;
      gap: 1.8rem;
  }
  .help {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 1rem;
  }
}

@media (max-width: 480px) {
  nav {
      padding: 0.3rem;
  }
  nav ul {
      flex-direction: column;
      gap: 0.8rem;
  }
  nav a .logo {
      width: 4.5rem;
      height: auto;
  }
  section h1 {
      font-size: 2.2rem;
      text-align: center;
      margin-bottom: 1rem;
  }
  section p {
      font-size: 1.4rem;
      width: 95%;
      text-align: center;
      margin-bottom: 2.5rem;
      line-height: 3;
  }
  .cards .card__container .card {
      width: 100%;
      padding: 2rem;
  }
  .help .help__container .secao {
      width: 100%;
      padding: 1.5rem;
  }
  footer .footer__container {
      flex-direction: column;
      text-align: center;
      gap: 2rem;
  }
  .icons {
      font-size: 1rem;
      gap: 1.2rem;
  }
  .help {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 0.8rem;
  }
}


/* Variáveis CSS */
:root {
  --modal-background: rgba(0, 0, 0, 0.5);
  --modal-content-background: white;
  --modal-primary-color: #5E2D79;
  --modal-text-color: #6A6A6A;
  --modal-border-radius: 10px;
  --modal-padding: 1.5rem;
  --modal-font-size-base: 1rem;
}

/* Modal geral */
.modal {
  display: none; /* Inicialmente oculto */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--modal-background);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.conteudo-modal {
  position: relative;
  background: var(--modal-content-background);
  padding: var(--modal-padding);
  max-height: 90vh; /* Altura máxima para evitar estouro */
  width: 80vw; /* Largura ajustável */
  border-radius: var(--modal-border-radius);
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: var(--modal-text-color);
  box-sizing: border-box;
  overflow-y: auto; /* Adiciona rolagem se o conteúdo for longo */
}

/* Botão de fechar */
.fechar-modal {
  background: #000000;
  color: white;
  border: none;
  border-radius: var(--modal-border-radius);
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 1rem; /* Espaço do conteúdo */
}

.fechar-modal:hover {
  background: var(--modal-primary-color);
}

/* Conteúdo do modal */
.titulo-modal {
  color: var(--modal-primary-color);
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}

.texto-resumo-modal {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.titulo-lista-modal {
  color: var(--modal-primary-color);
  font-size: 1.5rem;
  margin-top: 1.5rem;
}

.lista-modal {
  list-style: none;
  padding: 0;
}

.item-lista-modal {
  font-size: 1rem;
  margin: 0.5rem 0;
}

.texto-modal {
  font-size: 1rem;
  font-weight: 700;
  margin-top: 2rem;
}

/* Responsividade */
@media (max-width: 768px) {
  .conteudo-modal {
      width: 95vw;
      padding: 1rem;
  }

  .titulo-modal {
      font-size: 1.8rem;
  }

  .texto-resumo-modal,
  .item-lista-modal,
  .texto-modal {
      font-size: 0.9rem;
  }

  .titulo-lista-modal {
      font-size: 1.3rem;
  }
}


.leia-mais {
  color: var(--modal-primary-color);
  cursor: pointer;
  font-weight: bold;
}

.leia-mais:hover {
  text-decoration: underline;
}